@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #7AA2DC;
    color: #fff;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .header-logo {
    font-size: 36px;
    margin-left: 20px;
  }

  .header-list {
      margin-left: 20px;
  }
  
  .header-list ul {
    display: flex;
  }

  .header-list li {
      margin: 10px;
  }

  .header-list a {
    color: white;
    text-decoration: none;
  }

  @media(max-width:670px) {
    .header {
        flex-direction: column;
    }
}

.main {
    display: flex;
    flex-direction: row;
}

.main__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.main__introduction h1 {
    font-size: 40px;
}

.main__illustration img {
    max-width: 50vw;
    margin-top: 20px;
}

@media(max-width:1000px) {
    .main {
        flex-direction: column;
    }
    .main__introduction {
        margin: 20px 10px;
    }
    .main__illustration img {
        max-width: 100vw;
    }
}
  
li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.profile-wrap {
    text-align:center;
    padding:30px 5px;
    background-color:#f5f5f5;
}
  
.profile-wrap h1 {
    display: inline-block;
    font-size: 36px;
}
  
.profile-list {
    margin-top:20px;
    padding:30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
  .profile-item {
      width: 20%;
  }
  
  .profile-image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: relative;
      overflow: hidden;
      margin:0 auto;
  }
  
  
  .profile-image img {
      position:absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
  } 
  
  .profile-name {
      margin-top:15px;
      font-size: 20px;
  }
  
  .social-media {
      margin-top:10px;
  }
  
  .social-media a {
      margin-right:15px;
      color: #000;
  }
  
  .social-media a:hover {
      color:#26d0c9;
  }
  
  @media(max-width:1000px) {
      .profile-item{
          width: 50%;
      }
  
      .social-media {   
          margin-bottom: 30px;
      }
  }
  
  @media(max-width:670px) {
      .profile-item{
          width: 100%;
      }
  
      .social-media {
          margin-bottom: 30px;
      }
  }

.contact-form {
    width: 100%;
	background: #f1f1f1;
	padding: 30px 40px;
	text-align: center;
}

.contact-form h1 {
	margin-top: 0;
    font-size: 36px;
}

.txtb {
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}

.txtb label {
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}

.txtb input,.txtb textarea {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}

.btn {
	display: inline-block;
	background: #26d0c9;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	opacity:0.8;
	width: 100%;
}

.btn:hover {
    opacity: 1;
}

.send:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

footer {
    padding: 20px;
    text-align: center;
}
